#rotateAndScaleShape {
  transform-origin: center center;
}
#chart {
  width: 300px;
  height: 200px;
}
/* Ключевые кадры для анимации изменения цвета */
@keyframes changeTextColor {
  0% {
    fill: #f7df1e; /* Желтый */
  }
  50% {
    fill: #000000; /* Черный */
  }
  100% {
    fill: #f7df1e; /* Желтый */
  }
}

/* Стиль для анимированного текста */
.animated-text {
  animation: changeTextColor 3s infinite;
}
